.jumbotron {
    height: 346px;
    background-size: cover;
    background-image: url("../img/pizza.png");
}

.bg-light>h1{
    /*color: dimgrey;*/
}
 /*.btn {*/
 /*    !*margin: 0 0 0 10px;*!*/
 /*    border-color: blue;*/
 /*    color: blue;*/
 /*}*/
.bi {
    margin: 0 0 0 650px;
}

.size-crust {
    background-color: #0C6EFD;
    color: white;
    width: 100%;
}

.d-sm-none {

}

.d-md-block {

}

.container-crust {
    border: 2px solid #E4E4E4;
    padding: 10px;
    border-radius: 30px 30px;
}

.size-crust h6 {
    padding: .5em;
    margin: .3em;
    text-align: center;
}