.jumbotron {
    height: 346px;
    background-size: cover;
    background-image: url("../img/pizza.png");
}

.bg-light>h1{
    /*color: dimgrey;*/
}
 .btn {
     margin: 0 0 0 10px;
     border-color: blue;
     color: blue;
 }
.bi {
    margin: 0 0 0 650px;
}

.size-crust {
    background-color: dodgerblue;
    color: white;
    width: 100%;
}

.d-sm-none {

}

.d-md-block {

}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) { /* ... */ }

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) { /* ... */ }

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) { /* ... */ }

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { /* ... */ }