/*clickable area of links immediately flow from one link to the next
(padding will help achieve this)*/
a {
    display: inline-block;
    padding: .5em;
    font-family: 'Work Sans', sans-serif;
}
a.follow-us {
    font-size: small;
    /*display: flex;*/
    /*justify-content: flex-end;*/
    font-weight: bold;
    /*align-items: flex-end;*/
}
body {
    box-sizing: border-box;
}
nav {
    background-color: grey;
}
.follow-us {
    font-size: small;
    display: flex;
    /*justify-content: flex-end;*/
    font-weight: bold;
    padding: 1em;
/*Having trouble justifying content with far-right icons; will have to join ul's*/
}
.icons {

}
.logo {
    font-family: 'Montserrat', sans-serif;
    text-decoration: 3em;
    padding: .2em;
    /*justify-content: center;*/
    margin: auto;
}
/*Logo may need to be an h3*/
.menu {
    list-style-type: none;
    justify-content: space-between;
    /*text-decoration: none;*/
    font-size: small;
}
a:link {
    text-decoration: none;
}
a:hover {
    background: blue;
}
.top-header{
    display: flex;
    justify-content: space-between;
    /*text-decoration: none;*/
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /*text-decoration: none;*/
}