/*clickable area of links immediately flow from one link to the next
(padding will help achieve this)*/
a {
    display: inline-block;
    padding: .5em;
    font-family: 'Work Sans', sans-serif;
}
a.follow-us {
    font-size: small;
    /*display: flex;*/
    /*justify-content: flex-end;*/
    font-weight: bold;
    /*align-items: flex-end;*/
}
body {
    box-sizing: border-box;
}
nav {
    background-color: grey;
}
.follow-us {
    font-size: small;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
/*Having trouble justifying content with far-right icons; will have to join ul's*/
/*Changed "follow-us" class from div to ul, but no result.*/
    align-items: center;
    margin:
}
/*.icons {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*}*/
/*.logo {*/
/*    font-family: 'Montserrat', sans-serif;*/
/*    text-decoration: 3em;*/
/*    padding: .2em;*/
/*    !*justify-content: center;*!*/
/*    margin: auto;*/
/*}*/
/*Logo may need to be an h3*/
.menu {
    list-style-type: none;
    justify-content: space-between;
    /*text-decoration: none;*/
    font-size: small;
    /*align-items: center;*/
/*Need to center anchors; too high.*/
}
a:link {
    text-decoration: none;
}
a:hover {
    background: blue;
}
.top-header{
    display: flex;
    /*justify-content: center;*/
    /*text-decoration: none;*/
    align-self: center;
    flex-grow: 2;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /*text-decoration: none;*/
}
/*Very important opening a new localhost site,
because my changes did not reflect on the localhost I'd been viewing prior to realizing.*/