/*clickable area of links immediately flow from one link to the next
(padding will help achieve this)*/
/*Google Fonts used for logo and link text ("Montserrat" and "Work Sans", respectively)*/
/*the "Logo" text is 3em with .2em of padding above and below*/
/* explicit height given to the navbar*!*/
/* default styling is removed as needed from the body, unordered list and anchor tag elements*/
/*logo is horizontally centered on the navbar (automatic margins will help achieve this)*/

* {
    box-sizing: border-box;
}
a {
    display: inline-block;
    padding: .5em;
    font-family: Work Sans;
}
body {

}
#container {
    /*display: flex;*/
}
.follow-us {

}
.icons {

}
.logo {
    font-family: Montserrat;
    text-decoration: ;
}
.menu {
    list-style-type: none;
    justify-content: space-between;

}
nav a:hover {
    background: blue;
}
.top-header{
    display: flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}