/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) {
    .alert-info a {
        text-decoration: none;
        background-color: #CCFFFF;
        color: #2C3737;
        display: flex;
        justify-content: center;
        border: 2px solid #CCC;
        padding: 1.5em;
        width: 100%;
        margin: 1em;
    }
    h1 {
        display: flex;
        justify-content: center;
        width: 100vw;
        margin: 1em;
    }
    .nav-links li {
        background-color: #CCC;
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding: 1em;
        margin: 1em;
        width: 97%;
    }
    .header-img img {
        width: 97%;
        /*display: flex;*/
        /*justify-content: center;*/
        margin: 3em;
    }
}



/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) { /* ... */ }

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) { /* ... */ }

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { /* ... */ }