/* selector for id="container" */
#container {
    margin: 50px auto;
    width: 500px;
    padding: 10px;
}
/*  selector for all "h1" elements
    that are a descendent of id="container"
    and have a class of "fancy-header" */
#container h1.fancy-header {
    color: blue;
    text-decoration: underline;
}

/* selector for all "em" elements */
 em {
    font-weight: bold;
}
/* selector for all elements with class="article" */
.article {
    clear:both;
}

/*  selector for all "anchor" elements
    that are a direct child of an element with class="article" */
#article>a:last-child {
    float:right;
}
/*Anchors (<a></a>) are children; Article is parent*/
/*Course material shows "Direct-Child Selector using #container>h1 as an example*/
/*How do annotate anchor tags?*/
/*"Anchors: Can link to individual elements by specifying the "id" of the element preceded by a "#".*/
/*id of element = container, or article = #container*/
/*Still, how do I annotate "anchor"?*/
/*Pseudo Class? #article>a:link doesn't work.*/
/* a:last-child?*/
/*Maybe think Specificity due to "article" being used before, unless the preceding annotation makes "article" different for each.*/
/*?????*/