.heading {
    font-family: "Sama Gurmukhi", sans-serif;
    background-color: rgb(1,123,254);
    color: white;
    padding: .1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 4em;
}

p{
    font-size: .8em;
}

#form-container {
    margin: 1em;
}

.btn {
    background-color: rgb(1,123,254);
    color: white;
}

.current-city {
    /*color: white;*/
    display: flex;
    justify-content: flex-end;
}

#cards {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.card {
    border: 1px solid rgb(247,247,247);
    border-radius: 5px;
    /*width: 30%;*/
}

hr {
    border: 0.5px solid rgb(247,247,247);
    width: 80%;
}

.days header {
    background-color: #F7F7F7;
}

#btn-search {
    margin: 1em;
}

.temp {
    text-align: center;
}